.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.table {
  padding-inline-start: 150px;
  padding-inline-end: 200px;
  border: 3px solid rgb(0, 0, 0);
  width: 500px;
  height: 500px;
  margin-top: 85px;
  margin-left: 500px;
  margin-right: 400px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.mainArea {
  margin-top: 70px;
}
.a {
  width: 100%;
  background-color: green;
}
.b {
  width: 100%;
  background-color: blueviolet;
}
.c {
  width: 100%;
  background-color: crimson;
}
.d {
  width: 100%;
  background-color: rgb(247, 99, 54);
}
